/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    text-decoration: none;
    list-style: none;
}

ul a,
ol a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
header {
    background-color: rgb(65, 84, 208);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>h1 {
    width: 90%;
    text-align: center;
    color: rgb(251, 250, 250);
    font-size: 2.25rem;
}

/*CONTAINER*/
.container {
    background-color: rgb(241, 238, 238);
    margin-top: 0;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-container {
    border-radius: 1.2rem;
    background-color: rgb(175, 174, 252);
    margin-top: 1rem;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.input-container>label {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(77, 76, 76);
}

.input-container>input {
    border-radius: 0.5rem;
    border-width: 0;
    width: 95%;
    height: 4vh;
    margin-top: 0.5rem;
}

ul {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

ul>li {
    border-radius: 0.75rem;
    background-color: rgb(102, 131, 227);
    width: 95%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul>li>span {
    width: 75%;
    height: fit-content;
    text-transform: uppercase;
    text-align: start;
    font-size: 1.1rem;
    color: rgb(65, 69, 88);
    font-weight: 600;
    padding-left: 0.5rem;
}

.btn {
    border: solid 1px transparent;
    background-color: rgb(65, 84, 208);
    border-radius: 0.5rem;
    height: 5vh;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}

.btn-delete {
    border: solid 1px transparent;
    background-color: rgb(233, 136, 8);
    border-radius: 0.5rem;
    height: 4vh;
    padding: 0.22rem;
    margin-right: 0.25rem;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
}

/*FOOTER*/
footer {
    background-color: rgb(241, 238, 238);
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    width: 100%;
    margin: 0;
    text-align: center;
    color: rgb(77, 76, 76);
}

footer>p>a:visited {
    color: rgb(77, 76, 76);
    text-decoration: none;
}

/*1024px*/
@media (min-width: 1024px) {
    header {
        top: 0;
    }

    .container {
        background-color: rgb(241, 238, 238);
        margin-top: 0;
        height: 85vh;
    }

    .input-container {
        border-radius: 0.5rem;
        width: 95%;
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem;
    }

    .input-container>label {
        width: 20%;
        text-align: start;
    }


    .input-container>input {
        border-radius: 0.5rem;
        border-width: 0;
        width: 50%;
        height: 5vh;
        margin: 0
    }

    ul {
        width: 90%;
        height: auto;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    ul>li {
        flex-direction: row;
        justify-content: space-around;
    }

    ul>li>span {
        font-size: 1.5rem;
        color: whitesmoke;
    }

    .btn {
        height: 5.5vh;
    }

    .btn:hover {
        background-color: rgb(42, 175, 242);
        border: solid white 1px;
    }

    .btn-delete {
        border-radius: 0.5rem;
        height: 5vh;
        font-size: 0.85rem;
    }

    .btn-delete:hover {
        background-color: red;
        border: solid rgb(233, 136, 8) 1px;
    }
}